/* Global styles */

:root {
    --button-unclicked: #0099cc;
    --button-clicked: #502174;
    --sub-headings-weight: 500;
    
}

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100vw;
    position: fixed;
    background: white;
    z-index: 1;
}

footer{
    text-align: center;
    background: #333333;
    height: 430px;
    color: white;
    /* font-size: 8px; */
}

ul{
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 0;
    padding-top: 50px;
}

i{
    /* width: 20px; */
    color: gray;
    align-self: center;
}

h1,h2,h3{
    margin: 0;
}

h2{
    font-size: 24px;
    font-weight: 500;
}


h1{
    padding-top: 76px;
    padding-bottom: 0px;
    line-height: 48px;
    text-transform: uppercase;
    /* margin-top: 10px; */
}

p{
    font-size: 16px;
    line-height: 24px;
}

button{
    /* text-decoration: none; */
    background: none;
    border: none;
    width: 190px;
    height: 50px;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    font-weight: var(--sub-headings-weight);
}

button:hover{
    color: var(--button-clicked);
}

main button{
    background-color: var(--button-unclicked);
    color: white;
}

main button:hover{
    background:var(--button-clicked);
    color: white;
}

main{
    background: url(/images/sittingonbench.jpg);
    color: white;
    height: 557px;
    text-align: center;
    padding-top: 60px;
}

main p{
    margin-top: 30px;
    margin-bottom: 35px;
}

h1{
    font-size: 36px;
}

img{
    width: 100%;
    margin: 0;
}
/* Classes */

.container{
    width: 94%;
    margin: 0 auto;
}

.inner-container{
    width: 94%;
    margin: 0 auto;
}

.head-section{
    padding-top: 10px;
    display: flex;
    width: 94%;
    justify-content: space-between;
    /* min-height: 94px; */
}

.mobile-nav{
    /* margin: 0; */
    position: fixed;
    background:rgba(0,0,0,.95);
    width: 0;
    overflow: hidden;
    transition: all .5s;
    height: 100vh;
    top:0px;
    left: 0px;
    /* padding-bottom: 50px; */
}

.mobile-nav a{
    color: white;
    text-decoration: none;
}



.menu-hidden{
    width: 50%;
}

.mobile-nav li{
    padding: 15px;
    font-size: 16px;
    transition: all .5s;
}

.mobile-nav li:hover{
    padding-left: 30px;
    font-size: 16px;
    background: var(--button-unclicked);
}

.logo{
    align-self: center;
}

.logo img{
    height: 73px;
    /* align-self: center; */
}

/* PG-UG classes */
.ug-pg>section{
    /* background: white; */
    /* width: 100%; */
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -51px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .15);
}

.ug-pg>section p{
    margin-top: 25px;
}

.ug-pg>section:nth-of-type(1){
    margin-bottom: 55px;
}


.grad-header{
    color: white;
    background-color:var(--button-clicked);
    height: 51px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    /* font-weight: var(--sub-headings-weight); */
}
.grad-header h2{
    font-weight: 500;
    font-size: 20px;
    /* color: green; */
}


.grad-body{
    height: 173px;
}

.research{
    text-align: center;
}

.research h3, .news-events h3{
    text-transform: uppercase;
    /* margin: 0; */
}

.carusel-selectors{
    display: flex;
    justify-content: center;
}

.carusel-selectors>*{
    margin: 2px;
}

.carusel-selectors>*:hover{
    color: black;
}

/* The dot selectors */

.inactive{
    display: none ;
}

.active{
    display: block;
}


.news-events{
    margin-top: 60px;
    text-align: center;
    text-transform: capitalize;
}

.news-events p{
    font-size: 16px;
}

.news-events h3{
    margin: 0;
}

.bord{
    border: 1px solid black;
    margin: 0;
    border-top: 0;
    height: 204px;
    /* border-top: none; */
} 

.news{
    display: flex;
    flex-direction: column;
}

.hap-header p, .hap-header a{
    font-size: 14px;
}

/* Events */
.events{
    display: flex;
    flex-direction: column;
}

/* .event-image{ */
    /* width: 106px; */
    /* height: 146px; */
/* } */

.event-content{
    flex:1;
    /* width: 174px; */

    text-align: left;
    border: 1px solid black;
    border-left: 0;
    height: auto;
}

.event-content p{
    padding: 10px;
    margin: 0;
}

.event-items{
    display: flex;
}

/* About Us */
.about-us{
    background: url(/images/ben-duchac-66002-unsplash.jpg);
    text-align: center;
    height: 425px;
    color: white;
}

.about-us h2{
    font-weight: 500;
    padding-top: 30px;
}

.about-us p{
    margin-top: 40px;
    font-size: 18px;
    font-weight: 300;
}


/* admissions */
.admissions{
    text-align: center;
}



.form-item{
    height: 30px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    border-left: 7px solid;
}

.form-item input{
    border: 0px;
    border-left: 1px solid;
}

.form-item label{
    padding-left: 10px;
    text-transform: capitalize;
    align-self: center;
}


.submit-form{
    text-align: center;
}
input[type="button"]{
    height: 37px;
    width: 110px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}


/* Contact */
.contact-info{
    color: #ffffff;
}

.contact-info p, .contact-info h2{
    margin: 0;
    margin-bottom: 16px;
}

.contact-info h2{
    padding-top: 30px;
}

.contact-info i{
    font-size: 20px;
    color: white;
}

/* Social */
.social i{
    color: white;
    display: inline-block;
    font-size: 20px;
    margin: 2px;
    border-radius: 60px;
    /* box-shadow: 0px 0px 2px #888; */
    padding: 0.5em 0.6em;
    transition: all .3s;
}

.social{
    height: 40px;
}

.social i:hover{
    font-size: 25px;
}

i.fa-facebook-square{
    background: #3b5998;
}

i.fa-youtube-square{
    background: #d42428;
}

i.fa-linkedin{
    background: #007ab9;
}

i.fa-twitter-square{
    background: #55acee;
}


/* Copyright */

.copy{
    background: #000;
    height: 99px;
    display: flex;
}

.copy-content{
    align-self: center;
}

.copy p{
    font-size: 14px;    
    margin: 0;
}

/* global fix styles */

.space-below{
    margin-bottom: 30px;
}


.section-below{
    margin-bottom: 60px;
}

@media screen and (min-width:767px){
    body{
        background:yellow;
    }

    .nav-toggler{
        display: none;
    }


    /* Navigation to PC */
    .flex-it{
        display: flex;
        justify-content: space-between;
    }

    .a-center{
        align-self: center; 
    }

    .mobile-nav{
        width: 150%;
        /* flex:1; */
        background: none;
        position: static;
        height: auto;
        width: auto;
        align-self: center;
    }
    
    .mobile-nav ul{
        display: flex;
        padding: 0;
        align-self: center;
        /* height: auto; */
    }

    .mobile-nav li{
        align-self:flex-start;  
    }

    .mobile-nav li:hover{
        padding-left: 15px;
    }

    .mobile-nav a{
        color: black;
    }

    /* Landing section */
    main{
        text-align: left;
    }

    /* Ug and pg ********************/

    .ug-pg{
        display: flex;
        justify-content: space-between;
    }

    .ug-pg section{
        width: 48%; 
        margin: 0;
        /* width: 475px; */
        /* height: 246px; */
        /* min-height:  */
    }

    .ug-pg > section:nth-of-type(1){
        margin-bottom: 0;
    }

    .grad-header{    
        background-color: rgba(255,255,255,0.15);
        transition: all .5s;
    }

    .carusel-selectors{
        display: none;
        
    }

    .research-items{
        display: flex;
        /* width: 33.3%; */
        justify-content: space-between;
        margin: 0;
    }

    .carusel{
        display: block !important;
        width: 33%;
    }
    /*  */
}
/* Media query Pc end */
