/* Global styles */

:root {
    --button-unclicked: #0099cc;
    --button-clicked: #502174;
    --sub-headings-weight: 500;
    
  }

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 0;
    padding-top: 50px;
}

i{
    /* width: 20px; */
    color: gray;
    align-self: center;
}

h1,h2{
    margin: 0;
}

h2{
    font-size: 24px;
    font-weight: 500;
}


h1{
    padding-top: 76px;
    padding-bottom: 0px;
    line-height: 48px;
    text-transform: uppercase;
    /* margin-top: 10px; */
}

p{
    font-size: 16px;
    line-height: 24px;
}

button{
    /* text-decoration: none; */
    background: none;
    border: none;
    width: 190px;
    height: 50px;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    font-weight: var(--sub-headings-weight);
}

button:hover{
    color: var(--button-clicked);
}

main button{
    background-color: var(--button-unclicked);
    color: white;
}

main button:hover{
    background:var(--button-clicked);
    color: white;
}

main{
    background: url(/images/sittingonbench.jpg);
    color: white;
    height: 557px;
    text-align: center;
}

main p{
    margin-top: 30px;
    margin-bottom: 35px;
}

h1{
    font-size: 36px;
}

img{
    width: 100%;
}
/* Classes */

.container{
    width: 280px;
    margin: 0 auto;
}

.inner-container{
    width: 240px;
    margin: 0 auto;
}

.head-section{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    /* min-height: 94px; */
}

.mobile-nav{
    /* margin: 0; */
    position: fixed;
    background:rgba(0,0,0,.95);
    width: 0;
    overflow: hidden;
    transition: all .5s;
    height: 100vh;
    top:0px;
    left: 0px;
    /* padding-bottom: 50px; */
}

.mobile-nav a{
    color: white;
    text-decoration: none;
}



.menu-hidden{
    width: 50%;
}

.mobile-nav li{
    padding: 15px;
    font-size: 16px;
    transition: all .5s;
}

.mobile-nav li:hover{
    padding-left: 30px;
    font-size: 16px;
    background: var(--button-unclicked);
}

.logo{
    align-self: center;
}

.logo img{
    height: 73px;
    /* align-self: center; */
}

/* PG-UG classes */
.ug-pg>section{
    background: white;
    width: 280px;
    text-align: center;
    position: relative;
    top: -51px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .15);
}

.ug-pg>section p{
    margin-top: 25px;
}

.ug-pg>section:nth-of-type(1){
    margin-bottom: 55px;
}



.grad-header{
    color: white;
    background-color:var(--button-clicked);
    height: 51px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    /* font-weight: var(--sub-headings-weight); */
}
.grad-header h2{
    font-weight: 500;
    font-size: 20px;
    /* color: green; */
}


.grad-body{
    height: 173px;
}

.research{
    text-align: center;
}

.research h3{
    text-transform: uppercase;
}

.carusel-selectors{
    display: flex;
    justify-content: center;
}

.carusel-selectors>*{
    margin: 2px;
}

.carusel-selectors>*:hover{
    /* margin: 2px; */
    background: black;
    /* border-radius: 50%; */
}

.news-events{
    margin-top: 60px;
    text-align: center;
    text-transform: capitalize;
}

.news-events p{
    font-size: 16px;
}

.hap-header p, .hap-header a{
    font-size: 14px;
}