html{
    box-sizing: border-box;
}

h2{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


header{
    display: flex;
    /* background: yellow; */
    justify-content: space-between;
}

nav{
    justify-self: end;
    align-self: center;
    padding-right: 20px;
    /* background: green; */
}

main{
    color: #ffffff;
    height: 557px;
    background: url(/images/sittingonbench.jpg);
}

main h1{
    text-align: center;
    padding-top: 78px;
    text-transform: uppercase;
    line-height: 50px;
}

main p{
    padding-top: 30px;
    padding-bottom: 30px;
}

/* main button{
    margin-top: 30px;
} */




main h1, main p{
    text-align: center;
    width: 80%; 
    margin: 0 auto;
}

p{
    margin: 0;
    padding: 0;
}

/* Classes ************/

.logo img{
    height:73px;
}

.container{
    width: 300px;
    margin: 0 auto;
}

.center-item{
    display: flex;
    /* background: #    000; */
    justify-content: center;
}

.ug-pg > section{
    /* height: 176px;
    background: steelblue; */
    text-align: center;
    margin-bottom: 30px;
    /* position: relative; */
    /* bottom: 51px; */
}

.ug-pg > section h2{
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    position: relative;
    /* margin-bottom: 30px; */
}

.ug-header{
    background: yellow;
    height: 51px;
    position: relative;
    bottom: 51px;
}

.research-items img{
    width: 100%;
}

.ug-body{
    margin: 0;
    background:green;
    height: 176px;
    /* bottom: 51px; */
    position: relative;
    bottom: 51px;
}

