/* Global styles */

:root {
    --secondary-color: #0099cc;
    --primary-color: #502174;
    --sub-hd-wgt: 500;
    --grad-color: #777777;
    --border-news-events: rgba(80,30,116,0.1);
    --white:#ffffff;
    
}


html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100vw;
    position: fixed;
    background: white;
    z-index: 1;
}

footer{
    text-align: center;
    background: #333333;
    max-height: 430px;
    color: white;
    margin-top: 40px;
    /* font-size: 8px; */
}

hr{
    /* width: 50%; */
    /* float: left; */
    /* display: inline-block; */
    /* text-align: left; */
    color: var(--secondary-color);
    opacity: .4;
    margin-left: 0;
    margin-bottom: 30px;
    margin-top: 25px;
}

ul{
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 0;
    padding-top: 50px;
}

i{
    /* width: 20px; */
    color: gray;
    align-self: center;
}

.close-toggler{
    align-self: center;
}

h1,h2,h3{
    margin: 0;
}

h2{
    font-size: 24px;
    font-weight: var(--sub-hd-wgt,500);
}


h1{
    padding-top: 76px;
    padding-bottom: 0px;
    line-height: 48px;
    text-transform: uppercase;
    /* margin-top: 10px; */
}

p{
    font-size: 16px;
    line-height: 24px;
}

button{
    /* text-decoration: none; */
    background: none;
    border: none;
    width: 190px;
    height: 50px;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    font-weight: var(--sub-hd-wgt);
    cursor: pointer;
}

button:hover{
    color: var(--primary-color);
}

main button{
    background-color: var(--secondary-color);
    color: white;
}

main button:hover{
    background:var(--primary-color);
    color: white;
}

main{
    background: url(../images/sittingonbenchMob.jpg);
    background-size: cover;
    /* background-size: contain; */
    color: white;
    /* height: 530px; */
    min-height: 567px;
    text-align: center;
    padding-top: 60px;
}

main p{
    margin-top: 30px;
    margin-bottom: 35px;
}

h1{
    font-size: 36px;
}

img{
    width: 100%;
    margin: 0;
}
/* Classes */

.container{
    width: 94%;
    margin: 0 auto;
}

.inner-container{
    width: 94%;
    margin: 0 auto;
}

.head-section{
    padding-top: 10px;
    display: flex;
    width: 94%;
    justify-content: space-between;
    /* min-height: 94px; */
}

.mobile-nav{
    /* margin: 0; */
    position: fixed;
    background:rgba(0,0,0,.95);
    width: 0;
    overflow: hidden;
    transition: all .3s;
    height: 100vh;
    top:0px;
    left: 0px;
    /* padding-bottom: 50px; */
}

.mobile-nav a{
    color: white;
    text-decoration: none;
}

li{
    cursor: pointer;
}
/* Pointer cursor for li tag */

.nav-toggler{
    padding: 10px;
    color: #000;
}

.arrow-selectors{
    color: #000;
}

.fa-chevron-left{
    /* position: absolute; */
    top: 50px;
}

.toggle-search{display: none;}


.fa-search{
    color: #000;
}

.menu-hidden{
    width: 50%;
}

.mobile-nav li{
    padding: 15px;
    font-size: 16px;
    transition: all .3s;
}

.mobile-nav li:hover{
    padding-left: 30px;
    font-size: 16px;
    background: var(--secondary-color);
}


.cover-bg{
    /* display: none; */
    background: rgba(0,0,0,0.65);
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.logo{
    align-self: center;
}

.logo img{
    height: 73px;
    /* align-self: center; */
}

/* PG-UG classes */
.ug-pg>section{
    /* background: white; */
    /* width: 100%; */
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -51px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .15);
}

.ug-pg>section p{
    margin-top: 25px;
    color: var(--grad-color);
}

.ug-pg>section:nth-of-type(1){
    margin-bottom: 55px;
}




.grad-header{
    color: white;
    background-color:var(--primary-color);
    height: 51px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    /* font-weight: var(--sub-headings-weigh); */
}
.grad-header h2{
    font-weight: 500;
    font-size: 20px;
    /* color: green; */
}


.grad-body{
    min-height: 173px;
    padding: 0 20px;
}

.research{
    text-align: center;
}

.research h2{
    margin-top: 10px;
    color: var(--secondary-color);
}


.research h3, .news-events h3{
    margin-top: 15px;
    font-weight: var(--sub-hd-wgt,500);   
}

.news-events h2{
    color: var(--secondary-color);
}



.carusel{
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .15);
    /* display: none; */
}

.carusel-selectors{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.carusel-selectors>*{
    margin: 2px;
}

.carusel-selectors>*:hover{
    color: black;
}

/* The dot selectors */

/* .visible{
    display: block;
} */

.invisible{
    display: none;

    /* animation: slide-left 1s ease-out; */
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
    
  @keyframes fade {
    from {opacity: 0.6; transform:scale(.998);} 
    to {opacity: 1; transform: scale(1);}
  }
  /* @keyframes fade {
    from {transform: translate(-100%);} 
    to {transform: translate(0);}
  } */

/* @keyframes slide-left {
      0% { opacity: 0; transform: translateY(-100%); }   
    100% { opacity: 1; transform: translateY(0); }
} */

.fa-circle{
    animation: slide-left 1s ease-out;
}

.active{
    height: 75px !important;
}

.news-events{
    margin-top: 60px;
    text-align: center;
    /* font-size: 12px; */
}

.news-events p{
    font-size: 16px;
}

.news-events h3{
    margin: 0;
    margin-top: 20px;
}

.pc-news, .pc-events{
    display: none;
}

.bord{
    position: relative;
    top: -3.5px;
    margin: 0;
    border-top: 0;
} 

.news{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    border: 1px solid var(--border-news-events);
    border-top: 0px;
}

.hap-header p, .hap-header a{
    font-size: 14px;
}

.hap-header p{
    margin-top: 4px;
    padding-bottom: 15px
    ;
}


/* Events */
.events{
    display: flex;
    flex-direction: column;
}

/* .event-image{ */
    /* width: 106px; */
    /* height: 146px; */
/* } */

.event-content{
    flex:1;
    text-align: left;
    border-left: 0;
    height: auto;
}

.event-bord{
    border: 1px solid var(--border-news-events);
    min-height: 158px;
    border-left: 0;
}

.event-content p{
    padding: 10px;
    margin: 0;
}

.event-items{
    display: flex;
    margin-bottom: 30px;
}

/* About Us */
.about-us{
    background: url(../images/ben-duchac-66002-unsplash.jpg);
    /* Hello */
    text-align: center;

    min-height: 400px;
    color: white;
    display: flex;
    margin-top: 50px;
    margin-bottom: 60px;
}

.about-content{
    align-self: center;
}

.about-us h2{
    font-weight: 500;
    padding-top: 30px;
    text-transform: capitalize;
}

.about-us p{
    margin-top: 40px;
    font-size: 18px;
    font-weight: 400;
}


/* admissions */
.admissions{
    text-align: center;
    margin-bottom: 30px;
    /* background: #000; */
}



.form-item{
    min-height: 35px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--border-news-events);
    border-left: 7px solid var(--secondary-color);
}

.form-item input{
    border: 0px;
    border-left: 1px solid var(--border-news-events);
    /* margin-bottom: 20px; */
    /* padding-bottom: 20px; */
    min-width: 75%;
}

.form-item label{
    padding-left: 10px;
    text-transform: capitalize;
    align-self: center;
}


.submit-form{
    text-align: center;
    margin-top: 20px;
    /* margin-bottom: 20px; */
}

input[type="text"]{
    padding-left: 15px;
}

input[type="email"]{
    padding-left: 15px;
}

input[type="tel"]{
    padding-left: 15px;
}





input[type="submit"]{
    height: 37px;
    width: 110px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.submit-form input[type="submit"]{
    background: var(--secondary-color);
    color: var(--white);
}

.submit-form input[type="submit"]:hover{
    background: var(--primary-color);
    /* color: var(--white); */
}


/* Contact */
.contact-info{
    color: #ffffff;
}

.contact-info p, .contact-info h2{
    margin: 0;
    margin-bottom: 16px;
}

.contact-info h2{
    padding-top: 30px;
}

.contact-info i{
    font-size: 20px;
    color: white;
}

/* Social */
.social i{
    color: white;
    display: inline-block;
    font-size: 20px;
    margin: 2px;
    border-radius: 60px;
    /* box-shadow: 0px 0px 2px #888; */
    padding: 0.5em 0.6em;
    transition: all .3s;
}

.social-pc{
    display: none;
}

.social{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
}

.social i:hover{
    font-size: 25px;
}

i.fa-facebook-square{
    background: #3b5998;
}

i.fa-youtube-square{
    background: #d42428;
}

i.fa-linkedin{
    background: #007ab9;
}

i.fa-twitter-square{
    background: #55acee;
}


/* Copyright */

.copy{
    background: #000;
    height: 99px;
    display: flex;
}

.copy-content{
    align-self: center;
}

.copy p{
    font-size: 14px;    
    margin: 0;
}

/* global fix styles */

/* .space-below{
    margin-bottom: 30px;
}


.section-below{
    margin-bottom: 60px;
} */


/* Pc Design 
************************************************************************
*****************************************************************************
 */
@media screen and (min-width:767px){
    /* body{
        background:yellow;
    } */

    hr{
        width: 50%;
    }

    main{
        background: url(../images/sittingonbench.jpg);
        min-height: 500px;
    }

    .nav-toggler{
        display: none;
    }

    h1{
        padding-top: 90px;
        font-size: 48px;
        width: 80%;
    }

    p{
        font-size: 16px;
    }

    main p{
        margin-top: 50px;
        margin-bottom: 55px;
    }

    /* Navigation to PC */
    .flex-it{
        display: flex;
        justify-content: space-between;
    }

    .a-center{
        align-self: center; 
    }

    .mobile-nav{
        width: 150%;
        /* flex:1; */
        background: none;
        position: static;
        height: auto;
        width: auto;
        align-self: center;
    }
    
    .mobile-nav ul{
        display: flex;
        padding: 0;
        align-self: center;
        /* height: auto; */
    }

    .mobile-nav li{
        align-self:flex-start;  
    }

    .mobile-nav li:hover{
        padding-left: 15px;
    }

    .mobile-nav a{
        color: black;
    }

    /* Landing section */
    main{
        text-align: left;
    }

    /* Ug and pg ********************/

    .ug-pg{
        display: flex;
        justify-content: space-between;
    }

    .ug-pg section{
        width: 48%; 
        margin: 0;
        /* width: 475px; */
        /* height: 246px; */
        /* min-height:  */
    }

    .ug-pg>section p{
        font-size: 16px;
    }

    .ug-pg > section:nth-of-type(1){
        margin-bottom: 0;
    }

    .ug-link{
        position:absolute; 
        width:100%;
        height:100%;
        top:0;
        left: 0;
        z-index: 1;
    }

    .pg-link{
        position:absolute; 
        width:100%;
        height:100%;
        top:0;
        left: 0;
        z-index: 1;
    }

    

    .grad-header{    
        background-color: rgba(255,255,255,0.15);
        transition: all .3s;
    }

    /* Research Section PC */

    .carusel-selectors{
        display: none;
        
    }

    .research h2{
        text-align: left;
    }

    .research-items{
        display: flex;
        /* width: 33.3%; */
        justify-content: space-between;
        margin: 0;
    }

    .carusel{
        display: block !important;
        width: 32%;
    }


    /* New and Events Section */
    .news-events{
        display: flex;
    }
    /****** News */
    .news-container{
        display: flex;
        flex-direction: column;
        /* background: orange; */
        justify-content: space-between;
        flex:2;
        
        /* height: 200px; */
        /* height: auto; */
    }

    .news-content{
        display: flex;
        justify-content: space-between;
        margin-right: 15px;
        /* background: yellow; */
        height: 97.4%;
        /* margin: 0; */
        /* background: #000; */
    }

    .events{
        /* display: flex; */
        /* background: steelblue; */
        flex: 1;
    }

    

    .event-content{
        /* background: green; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 12px;
    }

    .event-items{
        margin-bottom: 10px;
    }

    /* .event-bord{
        border: 1px solid black;
        min-height: 158px;
    } */

    .news{
        width: 48%;
        /* height: 300; */
        /* max-height: 493px; */
        /* background: #000; */
        /* padding-bottom: 30px; */
        height: 97.4%;
        /* border: 1px solid; */
        /* margin-bottom:px; */
    }

    .date{
        /* background: #000; */
        font-weight: 300;
        font-size: 12px !important;
    }

    .bord{
        padding-left: 10px;
        /* min-height: 300px;   */
        text-align: left;
    }

    .bord h3{
        padding-top: 10px;
        /* margin-bottom: 14px; */
    }

    .bord p{
        margin-top: 28px;
    }


    .news-btn{
        /* background: #000; */
        text-align: right;
        padding: 0;
    }

    .news-btn button{
        width: auto;

    }

    .pc-news, .pc-events{
        display: block;
        text-align: right;
        padding-right: 20px;
        padding-bottom: 5px;
        font-size: 12px !important;
        text-transform: capitalize;
        margin-bottom: 10px;
    }

    .pc-events{
        padding-right: 0;
    }

    .hap-header{
        text-align: left;
        padding-left: 15px;
        /* background: #000; */
    }
    
    /* Admissions */
    
    .social-mob{
        display: none;
    }

    .social-pc{
        display: block;
        text-align: left;
    }

    .adm-container{
        display: flex;
        justify-content: space-between;
    }

    .adm-header h2{
        padding-bottom: 50px;
        color: var(--secondary-color);
    }

    .admission-content{
        text-align: left;
        width: 85%;
    }

    .admission-content h3{
        font-size: 24px;
        width: 60%;
        text-transform: uppercase;
    }
    
    .admission-form{
        /* background: #000; */
        width: 120%;
        max-width: 500px;
    }
   
    .submit-form{
        text-align: right;
        margin-bottom: 20px;
    }

   


    /* Contact */

    .pc-contact{
        display: flex;
        justify-content: space-between;
    }

    .email-phone{
        display: flex;
        justify-content: flex-end;
        /* justify-content: space-between; */
        /* margin-right: 10px; */
        /* font-size: 12px !important; */
        width: 50%;
    }

    .contact{
        /* background: #000; */
        align-self: center;
        display: flex;
        /* padding-left: 20px;  */
    }

    .contact p{
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 12px;
    }

    .contact-address{
        display: flex;
        /* justify-content: space-between; */
    }

    .contact-address p{
        font-size: 14px;
    }

    .address-container{
        display: flex;
        /* background: #000; */
        /* justify-content: flex-end; */
        /* padding-top: 30px; */
        /* padding-bottom: px; */
    }

    .address-container h2{
        /* padding-top: 15px; */
        font-size: 18px;
        padding-right: 15px;
    }

    .address-container p{
        width: 60%;
        padding-top: 15px;
        /* padding-right: 40px; */
        /* align-self: center; */

    }
    
    .copy{
        height: auto;
        min-height: 60px;
        max-height: 99px;
    }

    .toggle-search{
        display: flex;
        width: 100vw;
        height: 0px;
        background: var(--secondary-color);
        justify-content: flex-end;
        overflow: hidden;
        transition: all 0.1s;
    }

    .hd-search{
        padding-left: 10px;
    }

    .hover-effect{
        transition: all .2s;
        padding: 14px;
        cursor: pointer;
    }


    .hover-effect:hover{
        background: var(--primary-color);
    }

    .search-container{
        align-self: center;
        margin-right: 50px;
    }


    .toggle-search input{
        min-height: 35px;
        min-width: 300px;
    }



    
}
/* Media query Pc end */
@media screen and (min-width:1280px){
    
    /* body{
        background: yellow;
    } */
    
    .container{
        width: 1080px;
        margin: 0 auto;
    }

    main{
        min-height: 575px;
    }



    h1{
        max-width: 70%;
        font-size: 48px;
        line-height: 55px;
    }

    p{
        font-size: 18px;
    }

    .ug-pg section{
        max-width: 475px;
    }

    .grad-body{
        /* background: #000; */
        padding-top: 10px;
        min-height: 206px;
    }
    
    .grad-body button{
        margin-top: 10px;
    }
}

/* 1024px media query */

